.Contact_mainContainer{
  min-height: 650px;
  display: flex;
}
.textContainer{
  padding: 40px
}
.heading{
  font-size: 55px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}
.tagline{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.imageContainer .image .guy_with_shoes{
  position: relative;
  top: 100px;
  padding: 40px;
}