.mainContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}
.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navList {
  display: flex;
  list-style-type: none;
  gap: 50px;
}
.navHref {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #181818;
}
.loginContainer {
  padding: 20px;
}
.loginBtn {
  font-family: "Inter", sans-serif;
  background-color: #d01c28;
  font-weight: 500;
  border: none;
  padding: 5px 20px;
  color: #fff;
}
