.footerContainer{
  background-color: #000;
  height: 200px;
  display: flex;
  color: #fff;
  justify-content: space-around;
  padding: 20px;
  margin-top: 3%;
}
.footerSectionOne{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerSectionTwo{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerSectionThree{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerSectionOne, .footerSectionTwo, .footerSectionThree span{
  font-family: 'Inter', sans-serif;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 500;

}
.footerSectionOne span:hover, .footerSectionTwo span:hover, .footerSectionThree span:hover{
  font-family: 'Inter', sans-serif;
  color: #fff;
  cursor: pointer;
}
.footerContainer .activeLink{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.footerContainer .activeLinkChild{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  font-weight: 500;
}